.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name sss
      .top-items__icons
        %li.top-items__edit-user
          =link_to "#" do
            = icon('fas', 'edit')
        %li.top-items__new-group
          =link_to "#" do
            =icon('fas','cog')
  .group
    .side-bar__group-list
      .side-bar__group-name ssss
      .side-bar__message まだメッセージはありません。
    .side-bar__group-list
      .side-bar__group-name aaa
      .side-bar__message 最近はジメジメするね。
