$side_dark_gray: #2f3e51;
$side_light_gray: #253141;
$light_blue: #38aef0;
$border_line: #eeeeee;
$chat_main: #fafafa;
$form_submit: #d2d2d2;
$text_gray: #333333;
$light_gray: #999999;
$comments: #434a54;
$white: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;